<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093768014174-37ha9pdcg1ihle50qukg9124jaft6e4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093768014174-37ha9pdcg1ihle50qukg9124jaft6e4j</string>
	<key>API_KEY</key>
	<string>AIzaSyD5phMAV2-8bj9TVb710zDDrfnDGK2rfUI</string>
	<key>GCM_SENDER_ID</key>
	<string>1093768014174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>G.O.D.the-real-911-app</string>
	<key>PROJECT_ID</key>
	<string>the-real-911-app</string>
	<key>STORAGE_BUCKET</key>
	<string>the-real-911-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093768014174:ios:0b33e5bf2197b4414fc7cf</string>
</dict>
</plist>